body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320 px;
  min-height: 100vh;
}
th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
}

td {
  padding-top: 5px;
  
}
.time {
  height: 40px;
}
/* Event Component Styles */
.Event {
  width: 100px;
}

.Event h1 {
  font-size: 24px;
  color: #333;
}

.Event p, h5 {
  font-size: 16px;
  color: #666;
  align-content: center;
  
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);

}

.green {
  background-color: #a0cba0;
}
/* Define styles for each color */
.Event.green {
  background-color: #a0cba0;
}

.Event.pink {
  background-color: pink;
}

.Event.blue {
  background-color: rgb(190, 219, 229);
}